.Carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 1rem 4rem;

  &-content {
    position: relative;
    display: flex;
    gap: 1rem;
    min-height: 200px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    line-height: 1;
    &.left {
      left: 1.5rem;
    }
    &.right {
      right: 1.5rem;
    }
  }
  &-slide {
  }
}
